<section id="hero" class="hero-container">
	<div class="container header">
		<h1>Henric Otterberg.</h1>
		<h2>&nbsp;&nbsp;Konsult <span class="plus">+</span> Webbdesigner</h2>
		<div class="arrow-down">
			<div>Scrolla nedåt för mer information</div>
			<a href="#profile">
				<i class="icon-down-open-big"></i>
			</a>
		</div>
	</div>
</section>