<nav id="nav" class="nav-container">
	<ul class="nav list-unstyled">
		<li><a class="nav-item" href="#profile"><span class="nav-label">Profil</span></a>
		<li><a class="nav-item" href="#services"><span class="nav-label">Tjänster</span></a>
		<!--<li><a class="nav-item" href="#portfolio"><span class="nav-label">Portfölj</span></a>-->
		<li><a class="nav-item" href="#contact"><span class="nav-label">Kontakt</span></a>
	</ul>
</nav>