<section id="services" class="services-container">
	<section class="header">
		<h1>Vad kan jag hjälpa till med?</h1>
	</section>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 item">
				<i class="icon-monitor"></i>
				<h2>Webbdesign</h2>
			</div>
			<div class="col-sm-4 item">
				<i class="icon-mobile"></i>
				<h2>Webbappar</h2>
			</div>
			<div class="col-sm-4 item">
				<i class="icon-window"></i>
				<h2>Konsulttjänster</h2>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 skills">
				<h2>Saker jag kan</h2>
				<div class="skill">
					<div class="col-sm-offset-3 col-sm-3">
						CSS3/HTML5
					</div>
					<div class="col-sm-6">
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skill">
					<div class="col-sm-offset-3 col-sm-3">
						jQuery
					</div>
					<div class="col-sm-6">
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skill">
					<div class="col-sm-offset-3 col-sm-3">
						Ruby on Rails
					</div>
					<div class="col-sm-6">
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok"></i>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skill">
					<div class="col-sm-offset-3 col-sm-3">
						C#/MVC
					</div>
					<div class="col-sm-6">
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok"></i>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skill">
					<div class="col-sm-offset-3 col-sm-3">
						PHP/Wordpress
					</div>
					<div class="col-sm-6">
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok"></i>
						<i class="icon-ok"></i>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skill">
					<div class="col-sm-offset-3 col-sm-3">
						C/C++
					</div>
					<div class="col-sm-6">
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok"></i>
						<i class="icon-ok"></i>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skill">
					<div class="col-sm-offset-3 col-sm-3">
						Java
					</div>
					<div class="col-sm-6">
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok"></i>
						<i class="icon-ok"></i>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skill">
					<div class="col-sm-offset-3 col-sm-3">
						AngularJS
					</div>
					<div class="col-sm-6">
						<i class="icon-ok green"></i>
						<i class="icon-ok green"></i>
						<i class="icon-ok"></i>
						<i class="icon-ok"></i>
						<i class="icon-ok"></i>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>Om du är intresserad av mina tjänster och vill boka in ett möte, skicka ett meddelande <a href="#contact" style="text-decoration: none;">här</a>.</p>
			</div>
		</div>
	</div>
</section>