<section id="soc" class="hidden-xs">
	<div class="social-container">
		<a id="social" href="#" title="Social info"><i class="icon-info-circled"></i></a>
	</div>
	<div class="social-menu">
		<a id="twitter" href="http://twitter.com/hotterberg" target="_blank" title="Twitter"><i class="icon-twitter-circled"></i></a>
		<a id="linkedin" href="http://se.linkedin.com/in/henricotterberg" target="_blank" title="LinkedIn"><i class="icon-linkedin-circled"></i></a>
		<a id="github" href="https://github.com/otterbergh" target="_blank" title="Github"><i class="icon-github-circled"></i></a>
	</div>
</section>