@import "variables";

.about-container {
	min-height: 100vh; 
	background-color: lighten($white, 5%);
	color: $black;
	font-weight: 300;

	border-bottom: 10px solid $red;
	//border-top: 10px solid $red;
	
	h1 {
		color: $green;
		font-weight: 100;
		font-size: 5em;
		text-align: center;
		margin: 0.5em auto;
	}

	hr {
		border: 0;
		height: 1px;
		background-color: lighten($black, 25%);
		color: lighten($black, 25%) !important;
		margin-bottom: 3em;
	}

	.list-unstyled {
		text-align: center;
	}

	p {
		text-align: center;
		font-size: 1.3em;
		margin: 2em 0;
	}
}