@import "variables";

.contact-container {
	min-height: 85vh;
	@media screen and (max-width: 767px) { min-height: 110vh; }
	background-color: rgb(49, 62, 70);
	color: $white;
	position: relative;
	z-index: 88;
	.copy {
		position: absolute;
		bottom: 30px;
		font-size: 16px;
		font-weight: 800;
		color: #aaa;
	}

	h2 {
		font-size: 3em;
		font-weight: 800;
		margin: 30px 0;
	}

	p {
		font-size: 24px;

		@media screen and (max-width: 767px) { font-size: 16px; }

		&.phone {
			margin-top: 95px;
			@media screen and (max-width: 767px) { margin-top: 0; }
		}
	}

	a {
		font-size: 24px;
		@media screen and (max-width: 767px) { font-size: 16px; }
		color: $white;
		text-decoration: none;
		&:hover,&:active,&:focus {
			color: $white;
			text-decoration: none;
		}
	}
}