<!DOCTYPE html>
<html>
<head>
  <title>Henric Otterberg - Frilans webbdesigner & IT-konsult</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="Henric Otterberg, frilans webbdesigner och IT-konsult i Växjö.">
  <meta name="keywords" content="Webbdesign,Konsult,IT,Växjö">
  <meta name="author" content="Henric Otterberg">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#nav">

<%= yield %>

</body>
</html>
